#background {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: #B2FEFA;
    background: linear-gradient(to top, #ffbfbd, #ffbd8a);
    background: -webkit-linear-gradient(to top,#ffbfbd, #ffbd8a);
}